body {
  background-color: midnightblue;
}
h1 {
  color: white;
  font-family: sans-serif;
}

label {
  color: white;
  font-family: sans-serif;
}

p {
  color: white;
  font-family: sans-serif;
}

li {
  color: white;
  font-size: 0.5px;
  font-family: sans-serif;
}

button {
  color: white;
  background-color: midnightblue;
  font-family: sans-serif;

}

nav {
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-family: sans-serif;
}

label {
  position: relative;
  display: inline-block;
}

.invalid-data {
  position: absolute;
  top: 100%;
  left: 0;
  color: rebeccapurple;
  font-size: 0.8em;
}

.delete-form {
  display: inline-block;
}
